<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dream_Branch">
        <activity
            android:name=".Student5"
            android:exported="false"
            android:label="@string/title_activity_student5"
            android:theme="@style/Theme.Dream_Branch" />
        <activity
            android:name=".Student4"
            android:exported="false"
            android:label="@string/title_activity_student4"
            android:theme="@style/Theme.Dream_Branch" />
        <activity
            android:name=".Student3"
            android:exported="false"
            android:label="@string/title_activity_student3"
            android:theme="@style/Theme.Dream_Branch" />
        <activity
            android:name=".Student2"
            android:exported="false"
            android:label="@string/title_activity_student2"
            android:theme="@style/Theme.Dream_Branch" />
        <activity
            android:name=".Student1"
            android:exported="false"
            android:label="@string/title_activity_student1"
            android:theme="@style/Theme.Dream_Branch" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dream_Branch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>